.idea
out
target
*.iml
log
/media/vra/DataUbuntu/JavaRushHomeWork/GitHub/intershiptask/HW1/patch/1_0_fix.patch
/media/vra/DataUbuntu/JavaRushHomeWork/GitHub/intershiptask/HW1/patch/1_1_HW0_stream.patch
/media/vra/DataUbuntu/JavaRushHomeWork/GitHub/intershiptask/HW1/patch/1_2_HW0_cycle.patch
/media/vra/DataUbuntu/JavaRushHomeWork/GitHub/intershiptask/HW1/patch/1_3_HW0_optional2.patch
/media/vra/DataUbuntu/JavaRushHomeWork/GitHub/intershiptask/HW1/patch/1_4_switch_to_war.patch
/media/vra/DataUbuntu/JavaRushHomeWork/GitHub/intershiptask/HW1/patch/1_5_add_servlet_api.patch
/media/vra/DataUbuntu/JavaRushHomeWork/GitHub/intershiptask/HW1/patch/1_6_forward_to_redirect.patch
/media/vra/DataUbuntu/JavaRushHomeWork/GitHub/intershiptask/HW1/patch/1_7_logging.patch



